 :root {
  --brand-blue-color: #2196F3;
  --brand-dark-gray-color: #2F303A;
  --brand-light-gray-color: #F5F4FA;
  --brand-dark-text-color: #212121;
  --brand-light-text-color: #757575;
  --brand-header-border-color: #ECECEC;
  --brand-border-color: #EEEEEE;
  --white-color: #fff;
  --black-color: #000;
}
body {
  font-family: 'Roboto';
}
a {
  color: inherit;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.address-link {
  color: var(--brand-light-text-color);
}
/* style for header */
.header {
  padding: 24px 0;

  .container {
    display: flex;
    align-items: center;
  }
}
.header-logo {
  font-family: 'Raleway';
  color: var(--black-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.header-info {
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.logo-blue {
  color: var(--brand-blue-color);
  letter-spacing: 0.03em;
}
.nav-list {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
.nav-link {
  color: var(--brand-dark-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.nav-item {
  display: flex;
  justify-content: space-around;
}
.info-link {
  color: var(--brand-light-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

 /* style for hero */
.hero {
  background-color: var(--brand-dark-gray-color);
  letter-spacing: 1.08px;
  padding: 200px 0;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.hero-title {
  color: var(--white-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  width: 696px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-btn {
  color: var(--white-color);
  background-color: var(--brand-blue-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  height: 50px;
  border: none;
}

/* style for description  */
.description {
  padding-top: 94px;
  }
.description-list {
  display: flex;
  gap: 30px;
}
.description-name {
  color: var(--brand-dark-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 10px 0px;
}
.description-text {
  color: var(--brand-light-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* style for work  */
.work {
  padding: 94px 0;
}
.work-title {
  color: var(--brand-dark-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  justify-content: space-between;
}

/* style for team */
.team {
  background-color: var(--brand-light-gray-color);
  padding: 94px 0;

  .container {
    background-color: var(--white-color #fff);
  }
}
.team-title {
  color: var(--brand-dark-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white-color);
}
.team-name {
  color: var(--brand-dark-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-text {
  color: var(--brand-light-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* style for projects */
.projects {
  padding: 94px 0;
}
.projects-filter {
  display: flex;
  justify-content: center;
}
.filter-btn {
  color: var(--brand-dark-text-color);
  background-color: var(--brand-light-gray-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.project-name {
  color: var(--brand-dark-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-text {
  color: var(--brand-light-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* style for footer */
.footer {
  background-color: var(--brand-dark-gray-color);
  padding: 60px 0;
}
.footer-logo {
  font-family: 'Raleway';
  color: var(--white-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: inline-block;
}
.address-link {
  color: var(--brand-light-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 9px 0px;
}
.footer .address-item:first-child .address-link {
  color: var(--white-color);
  letter-spacing: 0.03em;
  margin: 9px 0px;
} 