.client {
  padding: 60px 0;

  @media (min-width: 1200px) {
    padding: 94px 0;
  }

  &__title {
    color: $brand-dark-text-color;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;

    @media (min-width: 768px) {
      font-size: 28px;
      margin-bottom: 40px;
    }

    @media (min-width: 1200px) {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }

  &__list {
    @include flexbox();
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  &__link {
    max-width: 210px;
    height: 92px;
    border-radius: 5px;
    border: 1px solid $brand-light-icon-color;
    @include flexbox();
    @extend %transition;
    &:hover {
      border: $brand-blue-color 1px solid;
    
      .client__icon {
        fill: $brand-blue-color;
        transition-duration: 250ms;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    @media (max-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
    }

    @media (min-width: 768px) {
      width: 226px;
    }
    @media (min-width: 1200px) {
      width: 170px;
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
    fill: $brand-light-icon-color;
    @extend %transition;
  }
}
