.description {
    padding-top: 94px;

    &__list {
      display: flex;
      gap: 30px;
    }
    &__item::before {
      content: '';
      width: 270px;
      height: 120px;
      border-radius: 4px;
      background: $brand-light-gray-color;
      display: block;
      margin-bottom: 30px;
      background-image: url(../images/antenna.webp);
      background-repeat: no-repeat;
      background-position: center;
    }
    &__item:nth-child(2)::before {
      background-image: url(../images/clock.webp);
    }
    &__item:nth-child(3)::before {
      background-image: url(../images/diagram.webp);
    }
    &__item:nth-child(4)::before {
      background-image: url(../images/astronaut.webp);
    }
    &__name {
      color: $brand-dark-text-color;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.17;
      letter-spacing: 0.03em;
      margin: 10px 0px;
    }
    &__text {
      color: $brand-light-text-color;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.71;
      letter-spacing: 0.03em;
    }
  }
  
  
  
  
  