
.header {
  padding: 24px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;

  & > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media (min-width: 480px) {
      justify-content: space-between;
    }
  }
  &__menu {
    display: none;
  }

  &__logo {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: $brand-dark-text-color;
    margin: 0 auto;
    text-align: center;

    .header__blue {
      color: $brand-blue-color;
    }
  }

  &__nav {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: $brand-dark-text-color;
    transition: color 250ms ease;

    &:hover,
    &.active {
      color: $brand-blue-color;

    }

    &.active::after {
      content: "";
      position: absolute;
      bottom: -36px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $brand-blue-color;
      border-radius: 2px;
      @media (min-width: 1200px) {
        bottom: -39px;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 500;
    color: $brand-light-text-color;
    transition: color 250ms ease;

    &:hover {
      color: $brand-blue-color;

      .header__icon {
        fill: $brand-blue-color;
      }
    }
  }

  &__icon {
    width: 14px;
    height: 14px;
    fill: $brand-light-text-color;
    transition: fill 250ms ease;

    &.smartphone {
      width: 10px;
      height: 16px;
    }
  }

  // ========== 📱 480px+ ==========
  @media (min-width: 480px) {
    &__ {
      justify-content: space-between;
    }
    &__items, &__nav {
      display: none;
    }

    &__logo {
      font-size: 24px;
      text-align: left;
      margin: 0;
    }

    &__menu {
      display: block;
      width: 40px;
      height: 40px;
      fill: $brand-dark-text-color;
    }
  }

  // ========== 💻 768px+ ==========
  @media (min-width: 768px) {
    &__items, &__nav  {
      display: flex;
    }

    &__list {
      flex-direction: row;
      gap: 40px;
    }

    &__items {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
    &__menu {
      display: none;
    }
  }

  // ========== 🖥️ 1200px+ ==========
  @media (min-width: 1200px) {
    padding: 32px 0;
    flex-direction: row;

    & > .container {
      justify-content: space-between;
      gap: 50px;
    }

    &__logo {
      font-size: 26px;
      margin-right: 40px;
    }
    &__items {
      flex-direction: row;
      gap: 30px;
    }

    &__list {
      gap: 50px;
    }

    &__contacts {
      font-size: 16px;
    }
  }
}
