.project__hover, .project .filter__btn:hover, .project .filter__btn, .footer__socialmedia__icon, .footer__socialmedia__link:hover, .client__icon, .client__link:hover .client__icon, .client__link, .team__socialmedia__icon, .team__socialmedia__link:hover .team__socialmedia__icon, .team__socialmedia__link, .header__icon, .header__contacts, .header__link:hover .header__icon, .header__contacts:hover .header__icon, .header__link::after, .header__link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

body {
  font-family: "Roboto";
}

a {
  color: inherit;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: unset;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 40px;
  transform: translate(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.9, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: translate(-300px, -1000px);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-title {
  width: 448px;
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal-label {
  color: #757575;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  display: block;
  padding-left: 42px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
}

.modal-checkbox {
  width: 16px;
  height: 15px;
  fill: #212121;
}

.modal-text {
  height: 24px;
  flex-shrink: 0;
  color: var(--brand-light-text-color);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.rules-link {
  color: var(--brand-blue-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: "from-font";
}

.modal-box {
  display: flex;
  gap: 4px;
  margin-bottom: 30px;
  align-items: center;
}

.modal-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: var(--brand-blue-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border: none;
  padding: 10px 52px;
  display: block;
  margin: 20px auto 0;
  text-align: center;
}

.modal-link {
  display: flex;
  justify-content: center;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.close-icon {
  height: 16px;
}

.modal-link:hover .close-icon {
  fill: var(--brand-blue-color);
  transition-duration: 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border: none;
  outline: 1px solid var(--brand-blue-color);
  transition-duration: 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 32px;
  left: 12px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal-label:hover .modal-icon {
  fill: var(--brand-blue-color);
  transition-duration: 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  padding: 10px 0;
  border-bottom: #ececec;
  display: none;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;
  }
}
.header > .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.header__logo {
  font-family: "Raleway";
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.72px;
  margin-right: 93px;
}
@media screen and (min-width: 768px) {
  .header {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    font-size: 26px;
    letter-spacing: 0.03em;
    margin-right: auto;
  }
}
.header__blue {
  color: #2196f3;
  letter-spacing: 0.03em;
}
.header__list {
  display: none;
  flex-direction: column;
  margin-left: auto;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    gap: 30px;
    flex-direction: row;
  }
}
.header__item {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.header__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition-property: color;
}
.header__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: -31px;
  opacity: 0;
  transition-property: all;
}
.header__link:hover::after {
  background-color: #2196f3;
  opacity: 1;
}
.header__link:hover, .header__contacts:hover {
  color: #2196f3;
}
.header__link:hover .header__icon, .header__contacts:hover .header__icon {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .header {
    display: block;
  }
}
.header__items {
  display: flex;
  gap: 50px;
}
.header__contacts {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  display: flex;
  gap: 10px;
  align-items: center;
  transition-property: all;
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    font-size: 14px;
    letter-spacing: 0.28px;
  }
}
.header__icon {
  width: 16px;
  height: 12px;
  fill: #757575;
  transition-property: all;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.active {
  color: #2196f3;
}

.hero {
  padding: 118px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero > .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .hero > .container {
    padding: 200px 0;
  }
}
.hero__title {
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 1.56px;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    letter-spacing: 2.64px;
    width: 696px;
  }
}
.hero__btn {
  color: #fff;
  background-color: #2196f3;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.96px;
  padding: 10px 24px;
  height: 50px;
  border: none;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

.description {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .description {
    padding-top: 94px;
  }
}
.description__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.description__item::before {
  content: "";
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  display: block;
  margin-bottom: 30px;
  background-image: url(../images/antenna.webp);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 480px) {
  .description__item::before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .description__item::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .description__item::before {
    width: 270px;
  }
}
.description__item:nth-child(2)::before {
  background-image: url(../images/clock.webp);
}
.description__item:nth-child(3)::before {
  background-image: url(../images/diagram.webp);
}
.description__item:nth-child(4)::before {
  background-image: url(../images/astronaut.webp);
}
.description__name {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 1.14;
  letter-spacing: 0.42px;
  margin: 10px 0px;
}
@media screen and (min-width: 768px) {
  .description__name {
    text-align: start;
  }
}
.description__text {
  color: #757575;
  font-size: 14px;
  width: 100%;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.24px;
}
@media screen and (min-width: 480px) {
  .description__text {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .description__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .description__text {
    width: 270px;
  }
}

.work {
  padding: 94px 0;
}
.work__title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  justify-content: space-between;
}
.work__item {
  height: 294px;
}
.work__text {
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
  position: relative;
  width: 370px;
  height: 70px;
  bottom: 70px;
}

.team {
  background-color: #f5f4fa;
  padding: 94px 0;
}
.team > .container {
  background-color: #fff #fff;
}
.team__title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  justify-content: space-between;
}
.team__item {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  justify-items: center;
}
.team__name {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.team__socialmedia__list {
  display: flex;
  gap: 10px;
  margin-top: 16px;
}
.team__socialmedia__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  transition-property: all;
}
.team__socialmedia__link:hover {
  background-color: #2196f3;
}
.team__socialmedia__link:hover .team__socialmedia__icon {
  fill: #fff;
}
.team__socialmedia__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-property: all;
}

.client {
  padding: 94px 0;
}
.client__title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.client__list {
  display: flex;
  justify-content: space-between;
}
.client__link {
  width: 170px;
  height: 92px;
  border-radius: 5px;
  border: #AFB1B8 1px solid;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  transition-property: all;
}
.client__link:hover {
  border: #2196f3 1px solid;
}
.client__link:hover .client__icon {
  fill: #2196f3;
}
.client__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition-property: all;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer > .container {
  display: flex;
  gap: 70px;
  align-items: baseline;
}
.footer__address__item:first-child .footer__address__link {
  color: #fff;
  letter-spacing: 0.03em;
  margin: 9px 0px;
  font-style: normal;
}
.footer__address__link {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 9px 0px;
  font-style: normal;
}
.footer__logo {
  font-family: "Raleway";
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: inline-block;
}
.footer__logo__blue {
  color: #2196f3;
}
.footer__title {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__socialmedia__list {
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.footer__socialmedia__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.footer__socialmedia__link:hover {
  background-color: #2196f3;
}
.footer__socialmedia__icon {
  width: 20px;
  height: 20px;
  fill: #fff;
  transition-property: all;
}
.footer .footer .address-item:first-child .address-link {
  color: #fff;
  letter-spacing: 0.03em;
  margin: 9px 0px;
  font-style: normal;
}
.footer__link {
  color: #757575;
}
.footer__subscribe {
  margin-left: 72px;
}
.footer__subscribe__email {
  width: 358px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  padding: 15px 16px;
}
.footer__subscribe__btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.96px;
}
.footer__subscribe__send {
  width: 24px;
  height: 24px;
  fill: #fff;
  position: relative;
  top: 5px;
  margin-left: 10px;
}

.project {
  padding: 94px 0;
}
.project__filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}
.project .filter__btn {
  color: #212121;
  background-color: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 22px;
  transition-property: all;
}
.project .filter__btn:hover {
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  color: #fff;
}
.project__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  flex-basis: 33.3333333333%;
  justify-content: space-between;
}
.project__box {
  padding: 20px 24px;
}
.project__item {
  outline: 1px solid #eeeeee;
}
.project__item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.project__item:hover .project__hover {
  transform: translateY(0);
  opacity: 1;
}
.project__img {
  overflow: hidden;
  position: relative;
}
.project__hover {
  position: absolute;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  color: #fff;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  padding: 63px 24px;
  transition-property: all;
  transform: translateY(100%);
  opacity: 0;
  z-index: 1;
}
.project__name {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */